header {  text-align:center; }
ul { list-style-type:none; }
li { display:inline; padding:8px; font-size:20px; bold;}

body { background-color:white;   font-family:Cambria; font-size:20px; margin:0;}
nav { text-align:center; border:5px solid black;}
article {  text-align:center; width:1000px; float:left; border:0px solid grey; float: left; }
.article2 {  text-align:center; width:1000px; float:left; border:0px solid grey; float: left; } 


aside {float:left; width:00px; padding: 10px; }
footer { clear:left; text-align:center; background-color:#000; color:#fff; font-size:small;  padding: 20px;  }

a:link { color:#FF9933;  font-family:Cambria; text-decoration:none; }
a:visited { color:#FF9933; font-family:Cambria; text-decoration:none; }
a:hover { color:black; font-family:Cambria; text-decoration:none }
a:active { color:black;  font-family:Cambria; text-decoration:none  }

.container { background-color:#FFF; width:1000px; margin:0 auto; border:0px solid grey;}
.article-menu { text-align:center; width:1000px; float:left; border:0px solid grey; float: left; } 
.colorblack { color:black }

p { margin:20px; }



//* 
