header {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	padding: 8px;
	font-size: 20px;
}

body {
	background-color: #ECECE4;
	font-family: Helvetica, Sans-Serif;
	font-size: 20px;
	margin: 0;
}

nav {
	text-align: center;
	border: 5px solid black;
}

article {
	background-image: URL(images/hey.png);
	text-align: center;
	width: 1000px;
	float: left;
	border: 0px solid grey;
	padding: 15px;
}

.article2 {
	background-image: URL(images/hey.png);
	text-align: center;
	width: 1000px;
	float: left;
	border: 0px solid grey;
	float: left;
} 

aside {
	background-image: URL(images/hey.png);
	float: left;
	width: 00px;
	padding: 10px;
}

footer {
	clear: left;
	text-align: center;
	background-color: #000;
	color: #fff;
	font-size: small; 
	padding: 10px;
}

a:link {
	color: #FF9933;
	text-decoration: none;
}

a:visited {
	color: #FF9933;
	text-decoration: none;
}

a:hover {
color: black;
text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

.container {
	background-image: URL(hey.png);
	width: 1000px;
	margin: 0 auto;
	border: 0px solid grey;
}

.article-menu {
	background-image: URL(hey.png);
	text-align: center;
	width: 1000px;
	float: left;
	border: 0px solid grey;
	float: left;
}

.colorblack {
	color: black;
}

p {
	margin: 20px;
}

table {
	border-collapse: collapse;
}

td {
	padding-top: .5em;
	padding-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.form-label {
	text-align: right;
}

.movie-title {
	margin-bottom: -15px;
}

.movie-poster {
	width: 100px;
}

.rating span {
	float: right; 
	position: relative;
}

.rating span input {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.rating span label {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #FFF;
	background-image: url("images/star_empty.png");
	font-size: 30px;
	margin-right: 2px;
	line-height: 30px;
}

.rating span.checked label,
.rating span.checked ~ span label {
	background-image: url("images/star_full.png");
	color: #FFF;
}

.rating span:hover ~ span label,
.rating span:hover label {
	background-image: url("images/star_hover.png") !important;
}

#slideshow a {
	position: absolute;
	z-index: 8;
	opacity: 0.0;
}

#slideshow a.slideshow-active {
	z-index: 10;
	opacity: 1.0;
}

#slideshow a.slideshow-last-active {
	z-index: 9;
}